* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.web-menu {
  display: flex;
  background-color: #8b5cf6;
  position: fixed;
  width: 100%;
  padding: 1rem 0rem;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-bottom-left-radius: 1rem;
}
.nav-btn {
  margin-left: 30px;
  outline: 0;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: aliceblue;
  position: relative;
}
.nav-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.4s ease;
  transform-origin: bottom right;
  transform: scaleX(0);
}
.nav-btn:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 767px) {
  .web-menu {
    display: none;
  }
}
